.App-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 480px;
  max-width: 1280px;
  width: 100%;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
}
.App-tabs {
  display: flex;
  justify-content: space-around;
}
.App-container {
  min-height: 20vh;
  border-bottom: 1px solid #999;
}
